.git
.github
.idea
.vscode
**/.env
**/.env.*
!**/.env.example
**/.next
**/.phpunit.result.cache
**/.vinext
**/dist
**/node_modules
**/playwright-report
**/storage/logs/*
**/test-results
**/tsconfig.tsbuildinfo
**/vendor
vendor
storage
apps/web/.next
apps/web/.vinext
apps/web/dist
node_modules
